body {
  background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1920&q=80");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 25px 30px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0px 4px 10px gray;
  opacity: 0.95;
}

h1 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#addBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

#addBtn:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #d2f1dd;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: rgb(121, 121, 121);
}

button.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
}

button.delete-btn:hover {
  background-color: darkred;
}
